html {
  height: 100%;
}
.movies-list > .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* min-height: 40rem; */
}
/* Card CSS */
.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #1A1A1A;
  margin: 10px 10px 25px 10px;
  width: 185px;
  height: auto;
  cursor: pointer;
  transition: 500ms;
  border-radius: 5px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.movie-card-img {
  height: 274px;
  width: 185px;
  border-radius: 5px 5px 0px 0px;
}

.movie-card:hover {
  transform: scale(1.15);
  z-index: 0;
  box-shadow: 0px 0px 15px 5px rgba(65, 64, 64, 0.4);
}

.movie-title {
  text-align: left;
  margin: 10px 0px 5px 5px;
  font-size: medium;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;

}

.movie-votes {
  text-align: right;
  margin: 5px;
  font-size: medium;
}

.star-symbol {
  width: 12px;
  height: 12px;
  fill: yellow;
  margin-right: 5px;
}

/* Favourite card button */

.card-favourite {
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0px 5px 0px;
  background-color: rgba(65, 64, 64, 0.4);
}

.favourite-checkbox {
  display: none;
}

.favourite-label {
  font-size: 25px;
  transition: 500ms;
  cursor: pointer;
}

.favourite-checkbox:checked + .favourite-label {
  color: red;
  transform: scale(1.2);
}

/* Modal */
.movie-modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 33, 33, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.expanded-movie-modal {
  background-color: #141111f8;
  width: 900px;
  max-width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.poster {
  width: 900px;
  height: 500px;
  border-radius: 5px 5px 0px 0px;
}

.poster-container {
  width: 900px;
  height: 500px;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

.poster-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0),#141111);
}

.modal-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-title, .original-title {
  margin: 0px 0px 0px 25px;
}

.modal-outside-click {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.modal-rating-star {
  width: 16px;
  height: 16px;
  fill: yellow;
  margin-right: 5px;
}

.modal-rating {
  margin: 15px 0px 0px 25px;
}

.modal-overview {
  margin: 15px 15px 15px 25px;
  text-align: left;
}

/* Modal close btn */
.close-btn {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  opacity: 0.8;
  border: none;
  background-color: #141111;
  border-radius: 50%;
  cursor: pointer;
  transition: 350ms;
}

.close-btn:hover {
  opacity: 1;
  transform: scale(1.2);
}

.close-btn:before, .close-btn:after {
  position: absolute;
  bottom: 9px;
  right: 17px;
  content: ' ';
  height: 18px;
  width: 1px;
  background-color: white;
}

.close-btn:before {
  transform: rotate(45deg);
}

.close-btn:after {
  transform: rotate(-45deg);
}

